<!DOCTYPE html>

<html lang="en">
  <head>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/js_script.js" defer></script>
    
    <script src="js/vue_script.js" defer></script>
    
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <title>Hurr Durr Burger</title>


      
    </head>
  <body>
      
        <section class="top">
          <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/389/404/a2b.jpg" class="top" id="cat">
            <h1>Hurr Durr Burgersak</h1>
        </section>
        <section class="Mat" id="BS">
          <h3>{{VäljEnBurgare}}</h3>
          <div class="wrapper">
            <template v-for="(burger, index) in menuArray">
              <div v-bind:style="`grid-column: ${+index +1}`" class="box namn" id="BS">{{burger.namn}}</div>         
              
              <div v-bind:style="`grid-column: ${+index +1}`" class="box bild">
                <img v-bind:src="burger.img" style="width:205px;height:240px;">            
              </div>
              
              <div v-bind:style="`grid-column: ${+index +1}`" class="box inst">
                <ul>
                  <li>{{burger.kCal}} kCal</li>
                  <li v-if="burger.häst"class="Häst">Häst</li>
                </ul>
              </div>
                <input v-bind:style="`grid-column: ${+index +1}`" type="checkbox" class="check" name="burgaa" :value="burger.namn"> {{burger.namn}}<br>

            </template>
          </div>          
        </section>
        

        <!--<a href="/map" target="_blank">Open map in new window</a>.-->

        <section class="info">

          <h3>Ge oss info</h3>
          <form>
            <p>
              <label for="För och efternamn">För och efternamn </label><br>
              <input type="text" id="För och efternamn" name="n" required="required" placeholder="För och efternamn">
            </p>
            <p>
              <label for="Mailadress">Mailadress</label><br>
              <input type="email" id="email" name="em" required="required" placeholder="Mailadress">
            </p>            
            <p>
              <label for="Gatuadress">Gatuadress</label><br>
              <input type="text" id="Gatauadress" name="g" required="required" placeholder="Gatuadress">              
            </p>
            <p>
              <label for="Husnummer">Husnummer</label><br>
              <input type="number" id="Husnummer" name="h" required="required" placeholder="Husnummer">              
            </p>
             <p>
              <div>
              <input type="radio" id="Non-binary" name="K" value="Non-binary" checked>
              <label for="Vill inte säga">Non-binary</label><br>
              </div>
              <div>
                <input type="radio" id="Man" name="K" value="Man">
                <label for="Man">Man</label>
              </div>

              <div>
                <input type="radio" id="Kvinna" name="K" value="Kvinna">
                <label for="Kvinna">Kvinna</label>
              </div>
            </p>
            <p>
              <label for="Betalsätt">Betalsätt</label><br>
              <select id="Betalsätt" name="b">
                <option>Pengar</option>
                <option>Kapsyler</option>
                <option>Kameler</option>
                <option>Spelkort</option>
              </select>
            </p>
          </form>
           <p>
              <div id="order">
                <button type="submit" v-on:click="markDone"><img src="https://i.ytimg.com/vi/oW_xiyNJg2w/hqdefault.jpg" style="height:60px;width:120px;"></button>
                <div id="clog">
                  {{output}}
                </div>
              </div>
            </p>
        </section>
    </body>
</html>
